body{
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
  }

/* h1 {
    font-size: 38px;
color: #f24547;
cursor: pointer;
text-align: center;
margin-top: 6rem;
position: absolute;
margin-left: 43rem;;
} */

table {
    margin: auto;
}

input {
    font-size: 26px;
    height: 56px;
    border: 4px solid #111;
    margin: 6px;
    border-radius: 14px;
    background-color:rgba(255, 255, 255, 0) ;
    color: #f24547;
}

button {
    font-size: 28px;
    background-color:rgba(255, 255, 255, 0) ;
    width: 71px;
    height: 60px;
    border-radius: 14px;
    color: #f24547;

}



.calculator {
    display: inline-block;
    border: 4px solid #111;
    background-color:rgba(255, 255, 255, 0) ;
    border-radius: 14px;
}
body::before{
    content: "";
    /* background-image: url(neymar.jpg);3 */
    background-repeat: no-repeat;
    background-size: cover;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
}

